.order-new-container {
  width: 55%;

}

.order-form {
  display: flex;
  flex-direction: column;
}

.checkbox-container {
  display: flex;
  gap: 16px;
  margin-bottom: 48px;
  margin-top: 16px;
}

.checkbox-input[type="checkbox"] {
  width: 40px;
  height: 24px;
}

.position-btn {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
  height: 40px;
  width: 160px;
  align-self: center;
}

.relative {
  position: relative;
}

.error-message {
  color: red;
  margin-top: 0;
  font-size: 16px;
}
