li {
  display: flex;
  justify-content: space-between;
  height: 120px;
  margin-bottom: 24px;
}

.pizza-details {
  display: flex;
}

.pizza-info {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pizza-name {
  margin: 4px 0;
  font-weight: 500;
}

.pizza-ingredients {
  margin: 0;
  font-style: italic;
  font-size: 16px;
  font-weight: 300;
}

.pizza-image {
  height: 120px;
  width: 120px;
}
/* 
.button-container {
  display: flex;
  align-items: end;
}

.gray {
  filter: grayscale(100%);
} */
