li {
  display: flex;
  height: 120px;
  margin-bottom: 24px;
}

.pizza-info {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
}

.pizza-name {
  margin: 4px 0;
  font-weight: 500;
}

.pizza-ingredients {
  margin: 0;
  font-style: italic;
  font-size: 16px;
  font-weight: 300;
}

.pizza-image {
  height: 120px;
  width: 120px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.gray {
  filter: grayscale(100%);
}

.price-button-container {
  display: flex;
  justify-content: space-between;
  height: fit-content;
}

.pizza-price {
  margin: 16px 0;
}

.change-amount-container {
  display: flex;
  gap: 16px;
  align-items: center;
}
