.landing-page {
  background-color: #FEFCE8;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.headers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 4px;
  font-weight: 500;
  text-align: center;
}

h3 {
  font-weight: 300;
}

.header-span {
  color: #EAB32C;
  margin-top: 4px;
}

input {
  border: none;
  border-radius: 99px;
  font-size: 20px;
  padding-left: 24px;
}

.username-input {
  height: 56px;
  width: 360px;
  margin-bottom: 100px;
}

.order-input {
  height: 40px;
  width: 360px;
  background-color: #FEF9C3;
  align-self: center;
  width: 280px;
}

.add-user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
