nav {
  background-color: #FACC15;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  box-sizing: border-box;
}

h2 {
  font-weight: 500;
}

.navbar-link {
  text-decoration: none;
  color: black;
}
