.landing-page {
  background-color: #FEFCE8;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.headers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*
h1 {
  margin-bottom: 4px;
}

h2 {
  color: #EAB32C;
  margin-top: 4px;
} */
