footer {
  background-color: #292524;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 24px;
  box-sizing: border-box;
}

.cart-info {
  display: flex;
}

.total-price {
  margin-left: 16px;
}
